{{- $intro := .Site.Params.newsletter.intro}}
{{- $tinyletter := .Site.Params.tinyletter -}}

<section id="intro" class="py-5">
  <div class="container mt-1 py-5">
    <div class="text-center">
      <h1>Welcome to the Codidharma Weekly!</h1>
    </div>
    <div class="row justify-content-center ">
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="row justify-content-center image text-center">
          <img src="{{ absURL $intro.image }}" class="img-thumbnail mx-auto" alt="">
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-8 content">
        <div>
          <h2>{{ $intro.title}}</h2>
        </div>
        <div>
          <p>
            {{$intro.content | markdownify}}
          </p>
        </div>
        {{- partial "embedsubscriberform" . -}}
      </div>
    </div>
  </div>
</section>
