
{{- $rp := .Site.Params.newsletter.recentIssues}}
{{ if $rp.enable | default false }}

{{ $recentPostsPath := $rp.folder | default "posts" }}
{{ $recentPostsCount := $rp.maxCountToShow | default 3 }}
{{ $recentPosts := where .Site.RegularPages "Section" $recentPostsPath | first $recentPostsCount }}
<section id="recentposts" class="py-5">
  <div class="container py-3">
    <h1 class="text-center bg-transparent">{{$rp.title}}</h1>
    <div class="px-0 px-md-5 px-lg-5">
      <ul id="posts" class="posts">
        {{ range $recentPosts }}
          {{ partial "excerpt" . }}
        {{end}}
      </ul>
      

    </div>
    <div class="text-center mt-auto pt-3">
        <button class="button">
            <a href="{{ relURL $rp.postUrl }}" >{{$rp.morepostsText}}</a>
        </button>
    </div>
  </div>

</section>
{{end}}
