{{ if .Site.Params.newsletter.techstack.enable | default false }}
<section id="techstack" class="py-5">
    <div class="container">
        <h1 class="text-center">{{ .Site.Params.newsletter.techstack.title | default "Topics on which I write" }}</h1>
        <div class="px-0 px-md-5 px-lg-5">
            <div class="row justify-content-center px-3 px-md-5 px-lg-5">
                {{ range .Site.Params.newsletter.techstack.items }}
                {{ if .url }}
                <div class="col-lg-4 col-md-6 my-3">
                    <a class="card my-3 h-100 p-3" href="{{ .url }}" title="{{ .title }}" target="_blank">
                        <div class="card-body bg-transparent">
                            <h5 class="card-title bg-transparent">{{ .title }}</h5>
                            <div class="card-text secondary-font">
                                {{ .content }}
                            </div>
                        </div>
                    </a>
                </div>
                {{ else }}
                <div class="col-lg-4 col-md-6 my-3">
                    <div class="card my-3 h-100 p-3" title="{{ .title }}">
                        <div class="card-body bg-transparent align-items-end">
                            <div class="text-center">
                              <img src="{{relURL .image}}" class="img-thumbnail">
                            </div>
                            <h5 class="card-title bg-transparent text-center">{{ .title }}</h5>
                        </div>
                    </div>
                </div>
                {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
