{{- $tinyletter := .Site.Params.tinyletter -}}

<form id="subscribe-side-form" class="mt-1" method="post"
          action="https://tinyletter.com/{{$tinyletter.username}}" target="popupwindow"
          onsubmit="window.open('https://tinyletter.com/{{$tinyletter.username}}', 'popupwindow', 'scrollbars=yes,width=800,height=600'); return true">
          <div class="mb-1">
            <input type="text" name="email" id="tlemail" placeholder="email@example.com"
              class="search_field form_field" />
          </div>
          <div>
            <input type="hidden" value="1" name="embed" />
          </div>
          <input type="submit" value="Subscribe" class="button" />
        </form>