{{- $subform := .Site.Params.subscribe.secondary }}
<section id="subscriberfooter" class="py-5">
  <div class="container mt-1 py-5">
    <div class="row justify-content-center ">
      <div class="col-sm-12 col-md-12 col-lg-8 content">
        <div>
            <h1>{{ $subform.heading}}</h1>
        </div>
        <div>
            <p>
                {{$subform.message | markdownify}}
            </p>
        </div>
        {{- partial "embedsubscriberform" . -}}
      </div>
    </div>
  </div>
</section>

