{{- $subform := .Site.Params.subscribe.footer }}

<section id="subscriberfooter" class="py-5">
  <div class="container mt-1 py-5">
    <div class="row justify-content-center ">
      <div class="col-sm-12 col-md-12 col-lg-8 content">
        <div>
            <h1>{{ $subform.heading}}</h1>
        </div>
        <div>
            <p>
                {{$subform.message | markdownify}}
            </p>
        </div>
        <form id="subscribe-side-form" method="post" action= "https://tinyletter.com/" class="mt-1" target="_blank">
            <div class="mb-1">
                <input type="email" id="email-sidebar" value="" placeholder="email@example.com" class="search_field form_field" />
            </div>
            <button class="button text-center" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</section>

